:root {
  --header: #2c5d63;
  --background: #e0e0e0;
  --low: #ff1515;
  --medium: #ec9c07;
  --high: #0ac40a;
}

body {
  background-color: var(--background);
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: var(--header);
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress__bar {
  margin: 1%;
  width: 200px;
  height: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.progress__bar::-webkit-progress-value {
  background: var(--status-color);
}

.progress__bar::-moz-progress-bar {
  background: var(--status-color);
}

.progress__bar--low {
  --status-color: var(--low);
}

.progress__bar--medium {
  --status-color: var(--medium);
}

.progress__bar--high {
  --status-color: var(--high);
}

.progress__label {
  font-size: 1rem;
}

.progress__label--low {
  color: var(--low);
}

.progress__label--medium {
  color: var(--medium);
}

.progress__label--high {
  color: var(--high);
}